*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: #000;
  font-family: Helvetica;
  color: #fff;
  text-align: center;
}
p{
  font-size: 22px;
  opacity: 0.9;
}
.header{
  background: #000;
  padding: 0 10px;
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .logo{
  height: 50px;
  margin: auto 0px;
  opacity: 0.9;
}
.main-nav{
  float: right;
}
.main-nav ul{
  list-style: none;
}
.main-nav ul li{
  display: inline;
  margin: 0 15px;
}
.main-nav ul li a{
  color: #fff;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
}
.banner{
  display: flex;
  background-image: url("/images/img-mission-background.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
}
.banner-info{
  flex-grow: 1;
  background: #000;
  margin: auto 0;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  max-width: 1000px;
  margin: 0 auto;
}
.cat-image{
  width: 300px;
  margin-bottom: 10px;
}
.locations{
  height: 500px;
  background-image: url("/images/img-locations-background.jpg");
  background-size: cover;
  background-position: center;
}
.location-block{
  width: 300px;
  padding: 15px;
  background: #000;
}
